<template name="menu">
  <nav id="primary-menu" class="menu animated">
    <ul role="navigation">
      <li><a class="home" href="/"><span class="icon-home"></span> Home</a></li>
      <li><a class="about" href="/about"><span class="icon-about"></span> About</a></li>
      <li><a class="about" href="/services"><span class="icon-services"></span> Services</a></li>
      <li><a class="work" href="/work"><span class="icon-work"></span> Work</a></li>
      <li><a class="lab" href="/lab"><span class="icon-lab"></span> Lab</a></li>
    </ul>
  </nav>
</template>