<template name="home">
  <div id="masthead-home" class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <p class="lead">Web consultant and developer in Amsterdam</p>
          <h1>Sander van den Akker</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <article>
      <div class="row">
        <div class="col-sm-5">
          <section id="expertise">
            <a class="block" href="{{pathFor route='services'}}" role="navigation">
              <h2 class="header">I can help you with...</h2>
              <ul>
                <li>Creative application development</li>
                <li>Javascript development (Vanilla, Node, Meteor, Angular)</li>
                <li>Responsive design (HTML5, CSS3)</li>
                <li>Cloud computing services & Linux server maintenance (Google Compute Engine, Amazon Web Services)</li>
                <li>eZ Publish development</li>
                <li>And many other web related things</li>
              </ul>
              <p>All my services <span class="more"></span></p>
            </a>
          </section>
        </div>
        <div id="icons-home" class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <a class="block" href="/about" role="navigation">
                <span class="icon-about icon-big"></span> <h3>About me</h3>
                <p>Read about my background and professional philosophy. Free bonus material. <span class="more"></span></p>
              </a>
            </div>
            <div class="col-sm-6">
              <a class="block" href="/services" role="navigation">
                <span class="icon-services icon-big"></span> <h3>My services</h3>
                <p>I can help you define, design, develop, and maintain your app or website. <span class="more"></span></p>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a class="block" href="/work" role="navigation">
                <span class="icon-work icon-big"></span> <h3>My work</h3>
                <p>The dedication to the projects I work on and the long term relationship I have with my clients speak for itself. Take a look at my work. <span class="more"></span></p>
              </a>
            </div>
            <div class="col-sm-6">
              <a class="block" href="/lab" role="navigation">
                <span class="icon-lab icon-big"></span> <h3>My lab</h3>
                <p>My personal blog where I like to share whatever is on my mind (probably something technical). <span class="more"></span></p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>