<template name="services">
  <article>
    <div class="masthead">
      <div class="container">
        <h1>My services</h1>
        <p class="lead">I can help you define, design, develop, and maintain your app or website.</p>
      </div>
    </div>
    <section class="overview">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div>
              <h3>HTML 5 app development</h3>
              <ul>
                <li>I build apps that run in the browser like a normal website, but look and feel like a native app;</li>
                <li>apps that look good and work well on any device;</li>
                <li>apps that can be turned into an iPhone <i>and</i> Android app.</li>
              </ul>
            </div>
            <div>
              <h3>Javascript development</h3>
              <ul>
                <li>Surprise! I like to code.</li>
              </ul>
            </div>
            <div>
              <h3>Responsive design</h3>
              <ul>
                <li>I turn designs into functional websites that work on any device with any screen size.</li>
                <li>The mobile first approach and progressive enhancement makes sure these visiters have an optimal experience.</li>
              </ul>
            </div>
            <div>
              <h3>Cloud computing services & Linux server maintenance</h3>
              <ul>
                <li>I help move your site into the cloud, to gain performance and reliability, and save costs.</li>
                <li>Experience with Amazon Web Services (AWS), Google Compute Engine (GCE).</li>
                <li>Updates, security audits and performance optimization for your Linux server(s).</li>
              </ul>
            </div>
            <div>
              <h3>eZ Publish development</h3>
              <ul>
                <li>I can develop and maintain your eZ Publish installation.</li>
              </ul>
            </div>
            <div class="block">
              <h3>And many other web related things, like</h3>
              <ul>
                <li>PHP development.</li>
                <li>Help with your open source Content Management System (CMS).</li>
                <li>Search Engine Optimazation (SEO).</li>
                <li>Google Adwords.</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <h4>Did you know?</h4>
            <div class="row">
              <div class="center col-4 col-lg-4">
                <img src="/images/meteor_logo.png" class="toolkit-logo" />
              </div>
              <div class="col-8 col-lg-8">
                <p>I have been using <a href="http://www.meteor.com" rel="external" target="_blank">Meteor</a> since late 2012 because I believe this full-stack Javascript framework is revolutionary?</p>
              </div>
            </div>
            <div class="row">
              <div class="center col-4 col-lg-4">
                <img src="/images/angular_logo.png" class="toolkit-logo" />
              </div>
              <div class="col-8 col-lg-8">
                <p>I also work with <a href="http://www.angularjs.com" rel="external" target="_blank">Angular</a>, because it's the best fit for building web apps on big existing backends?</p>
              </div>
            </div>
            <div class="row">
              <div class="center col-4 col-lg-4">
                <img src="/images/ez_logo.png" class="toolkit-logo" />
              </div>
              <div class="col-8 col-lg-8">
                <p>I'm a <a href="http://auth.ez.no/certification/verify/392313" rel="external" target="_blank">certified</a> eZ Publish developer with almost 10 years experience in enterprise PHP environments?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</template>