<template name="about">
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <header class="jumbotron subhead">
            <h1>About me</h1>
            <p class="lead">Hello! I'm a 33 year old web consultant and developer based in Amsterdam, The Netherlands.
              I believe web development is an art, and I try to master it. This means I care about my craft, and I think about my work.</p>
          </header>

          <h3>6 reasons why you should NOT hire me</h3>
          <p><strong>1. You are looking for a builder, not a creator <sup><a href="#note-1">1</a></sup></strong><br />
            Developing a website or web application, like any form of coding, is not just about building the program.
            It's a creative process. Specifications and requirements are a good starting point, but rarely contain enough information to build the actual thing.
            The gaps that are left in the concept are to be filled by the developer.
            Besides that, progress in a project always leads to new insights, which leads to big changes in the functional design and thus the code.
            If you have already fully decided what to build and how to build it, but only need someone to build it for you,
            I might not be your man. <br />
          </p>

          <p><strong>2. You don't like new technologies</strong><br />
            I like to try out the latest technologies. When I see them fit for production after thorough testing, I won't hesitate to use them in real life projects.
            If you're scared of the chances and possibilities new technologies may bring but rather stick to old technologies,
            I might not be your man.</p>

          <p><strong>3. You can't stand inquisitive people</strong><br />
            The constant questioning of how and why certain choices are made and certain things are organized is one of the key characteristics of a good developer.
            You need someone who can pinpoint bottlenecks from a technical or usability perspective, suggest improvements and motivate them.
          </p>

          <p><strong>4. Criticism is not something you appreciate</strong><br />
            Only a team where all members are able to both give and take critique, is able to deliver awesome products.
            I need room to share my opinion, otherwise I might not be your man.</p>

          <p><strong>5. You are not realistic</strong><br />
            Development is a difficult job. Functionalities often take more time to create than you might think.
            Partly this is because clients don't fully understand the internals of the software but only focus on the functionality.
            But there is more to it. Developing software is a creative process. I think about my code a lot in order to get the best result.
            The estimates I make <em>are realistic</em> for the high quality I try to achieve. If you have a lot of expectations, but are on a tight budget as well,
            I might not be your man.</p>

          <p><strong>6. You require a specialist</strong><br />
            A 'Jack of all trades' is not the person you're looking for. Coding nowadays has become less impressive, however.
            Everyone can build a site without coding. But good developers are more than just programmers.
            Besides being good in multiple programming languages they tend to be skilled in many other things as well.
            First and foremost is communication, but project management, user experience design and graphics design skills are a big plus too.</p>

          <p>The literate amongst you recognize some of these characteristics from "The Pragmatic Programmer" <sup><a href="#note-2">2</a></sup> ;-)</p>

          <h3>Open source</h3>
          <p>Partly thanks to the open source characteristics of web sites I am where I am today. If you're not familiar with Open source read up <a href="http://en.wikipedia.org/wiki/Open_source" rel="external" target="_blank">here</a>.</p>
          <section id="footnotes">
            <ul>
              <li><a id="note-1" name="note-1">[1]</a> <a href="http://www.nczonline.net/blog/2012/06/12/the-care-and-feeding-of-software-engineers-or-why-engineers-are-grumpy/" target="_blank">The care and feeding of software engineers</a></li>
              <li><a id="note-2" name="note-2">[2]</a> <a href="#" target="_blank">From: ..., 'The Pragmatic Programmer'</a></li>
            </ul>
          </section>
        </div>
        <div class="col-lg-4">
          <img src="/images/portrait.jpg" />
          <h4>Did you know?</h4>
          <div class="row">
            <div class="col-4 col-lg-4">
              <img src="/images/ez_logo.png" />
            </div>
            <div class="col-8 col-lg-8">
              <p>I'm a <a href="http://auth.ez.no/certification/verify/392313" rel="external" target="_blank">certified</a> eZ Publish developer with almost 10 years experience in enterprise PHP environments?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-lg-4">
              <img src="/images/meteor_logo.png" />
            </div>
            <div class="col-8 col-lg-8">
              <p>I manage the <a href="http://www.meteor.com" rel="external" target="_blank">Meteor</a> <a href="http://www.linkedin.com/groups/Meteor-4556383" rel="external" target="_blank">user group</a> on LinkedIn because I believe this full-stack Javascript framework is revolutionary?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<!--
  http://upstre.am/reasons.html
-->