<template name="footer">
  <footer id="footer" class="fill">
    <section>
      <div class="container filler">
        <div class="row">
          <div class="col-lg-4">
            <h4>Get in touch</h4>
            <p>Use the button on the right, or contact me in more traditional ways:</p>
            <address>
              <strong>Sander van den Akker</strong><br />
              <abbr title="Mobile">T:</abbr> <a href="tel:+31655115671">+31 6 5511 5671</a><br />
              <abbr title="Email">E:</abbr> <a href="mailto:info@sandervandenakker.nl">info@sandervandenakker.nl</a>
            </address>
          </div>
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <div class="social pull-right">
              <a href="http://nl.linkedin.com/in/svdakker"><i class="icon-linkedin"></i></a>
              <a href="http://twitter.com/svdakker"><i class="icon-twitter"></i></a>
              <a href="http://github.com/svda"><i class="icon-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</template>