<template name="home">
  <div id="masthead-home" class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <p class="lead">Web consultant and developer in Amsterdam</p>
          <h1>Sander van den Akker</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <article>
      <div class="row">
        <div class="col-lg-6">
          <section id="expertise">
            <h2>My services include</h2>
            <div class="block">
              <h4>eZ Publish enterprise content management</h4>
              <ul>
                <li>Multi-channel content delivery made easy. One input channel, unlimited output channels.</li>
                <li>Certified eZ Publish developer with almost 10 years of experience in enterprise environments.</li>
              </ul>
            </div>
            <div class="block">
              <h4>Application development</h4>
              <ul>
                <li>I build single page (stellar) applications that run in the browser by default. The reactive interface makes it act like a native app.</li>
                <li>No dedicated app for each platform (iOS, Android, Windows Phone), but a single app that can be compiled to each platform.</li>
              </ul>
            </div>
            <div class="block">
              <h4>Responsive website development</h4>
              <ul>
                <li>Optimized user experience for all devices: phone, tablet, desktop.</li>
                <li>Only one website to maintain.</li>
              </ul>
            </div>
            <div class="block">
              <h4>And many other web related things like</h4>
              <ul>
                <li>PHP development.</li>
                <li>Help with your Wordpress, Drupal or Joomla CMS.</li>
                <li>Search Engine Optimazation (SEO).</li>
                <li>Google Adwords.</li>
              </ul>
            </div>
          </section>
        </div>
        <div id="icons-home" class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <a class="block" href="/about" role="navigation">
                <i class="icon-about"></i><h4>About me</h4>
                <p>Read about my background and professional philosophy. Bonus: 6 reasons NOT to hire me.</p>
              </a>
            </div>
            <div class="col-lg-6">
              <a class="block" href="/method" role="navigation">
                <i class="icon-method"></i><h4>My method</h4>
                <p>I use a unique user-experience design process that puts people over technology — and business over code.</p>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <a class="block" href="/work" role="navigation">
                <i class="icon-work"></i><h4>My track record</h4>
                <p>The dedication to the projects I work on and the long term relationship I have with my clients speak for itself. Take a look at my work.</p>
              </a>
            </div>
            <div class="col-lg-6">
              <a class="block" href="/feed" role="navigation">
                <i class="icon-lab"></i><h4>My lab</h4>
                <p>My personal blog where I like to write about upcoming development trends and share experiences on the projects I work on.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>