<template name="home">
  <header class="masthead">
    <div class="container">
      <div class="row jumbotron">
        <div class="col-lg-7">
          <p class="lead">Web consultant and developer in Amsterdam</p>
          <h1>Sander van den Akker</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <article>
      <div class="row">
        <div class="col-lg-6">
          <section id="expertise">
            <h3>My specialties</h3>
            <a class="block internal" href="#">
              <h5>eZ Publish enterprise content management</h5>
              <ul>
                <li>Multi-channel content delivery made easy. One input channel, unlimited output channels.</li>
                <li>Certified eZ Publish developer with almost 10 years of experience in enterprise environments.</li>
              </ul>
            </a>
            <a class="block internal" href="#">
              <h5>Stellar web application development</h5>
              <ul>
                <li>I build single page applications with a reactive interface. This means no more slow full page refreshes!</li>
                <li>No dedicated app for each platform (iOS, Android, Windows Phone).</li>
                <li>Keep mobile users happy thanks to local data caching and latency compensation.</li>
                <li>Analyze how users interact with your web app in realtime, not just count the pageviews.</li>
              </ul>
            </a>
            <a class="block internal" href="#">
              <h5>Responsive website development</h5>
              <ul>
                <li>Optimized user experience for all devices: phone, tablet, desktop.</li>
                <li>Only one website to maintain.</li>
              </ul>
            </a>
          </section>
        </div>
        <div id="icons-home" class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <a class="block" href="/about" role="navigation">
                <i class="icon-about"></i><h4>About me</h4>
                <p>Read about my background and professional philosophy. Bonus: 6 reasons NOT to hire me.</p>
              </a>
            </div>
            <div class="col-lg-6">
              <a class="block" href="/method" role="navigation">
                <i class="icon-method"></i><h4>My method</h4>
                <p>I use a unique user-experience design process that puts people over technology — and business over code.</p>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <a class="block" href="/work" role="navigation">
                <i class="icon-work"></i><h4>My track record</h4>
                <p>The dedication to the projects I work on and the long term relationship I have with my clients speak for itself. Take a look at my work.</p>
              </a>
            </div>
            <div class="col-lg-6">
              <a class="block" href="/feed" role="navigation">
                <i class="icon-lab"></i><h4>My lab</h4>
                <p>My personal blog where I like to write about upcoming development trends and share experiences on the projects I work on.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>