<template name="method">
  <article>
    <div class="jumbotron">
      <div class="container">
        <div class="subhead">
          <h1>The method I use</h1>
          <p class="lead">I use a unique user-experience design process that puts people over technology — and business over code.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <a name="mvp"></a>
          <h3>Minimum viable product (MVP)</h3>
          <p>One of the main reasons startups fail is because the time and money is spent on a fully functional product that customers do not really want. I can help you build a Minimum Viable Product (MVP) to prove your concept. The idea is to rapidly build a minimum set of features that is enough to deploy the product and test key assumptions about customers’ interactions with it.</p>
          <h3>Teamwork is key</h3>
          <p>Managers, customers and developers are all equal partners in a collaborative team. I use collaboration software to keep track of changing requirements and bugs in a project. It enables all project members to actively participate in the development process.</p>
          <p>More soon...</p>
        </div>
      </div>
    </div>
  </article>
</template>

<!--
  http://www.epicenterconsulting.com/method
-->