<template name="work">
  <article class="container">
    <header class="jumbotron subhead">
      <h1>My track record</h1>
      <p class="lead">Most of the projects below are ongoing long term commitments, which means I still work on them. I care about my work. In fact I care so much about each little detail people call me obsessive. I prefer to be called a perfectionist!</p>
    </header>
    <div class="row">
      <div class="col-lg-12 masonry">
        <div class="brick">
          <div class="project">
            <time datetime="2013-03">July 2013</time>
            <h4>ProDemos <small> Nacht van de Dictatuur</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical development of an event site.</li>
            </ul>
            <p><a href="http://www.nachtvandedictatuur.nl" rel="external" target="_blank">www.nachtvandedictatuur.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2013-03">July 2013 - ongoing</time>
            <h4>ProDemos <small> Single design implementation</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Refactoring the plethora of design and template code used in many different websites, towards a single, universal design module which is used as a base for all websites.</li>
              <li>This enables us to use new design features and template functionality on all the client's websites instantly.
            </ul>
            <p><a href="http://www.prodemos.nl" rel="external" target="_blank">www.prodemos.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2013-03">April 2013 - ongoing</time>
            <h4>Onze Lieve Vrouwe Gasthuis <small>New responsive frontend</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Visual design, technical development and implementation of a responsive design for a corporate website.</li>
            </ul>
            <p><a href="http://www.olvg.nl" rel="external" target="_blank">www.olvg.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2013-03">March 2013 - ongoing</time>
            <h4>Kinder OLVG <small>OLVG children's site</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical development and implementation of a hospital website for children.</li>
            </ul>
            <p><a href="http://www.kinderolvg.nl" rel="external" target="_blank">www.kinderolvg.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2012-08">August 2012 - ongoing</time>
            <h4>ProDemos <small>Stem Examen</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Integration of advanced online exam functionality in an existing eZ Publish installation. The test itself was developed in cooperation with LeidenTech.</li>
              <li>Refactoring of the eZ Publish installation into a multi-site environment.</li>
            </ul>
            <p><a href="http://www.stemexamen.nl" rel="external" target="_blank">www.stemexamen.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2012-01">January 2012 - ongoing</time>
            <h4>Maxima Medisch Centrum <small>Werken bij MMC</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical development and implementation of a recruitment website.</li>
            </ul>
            <strong>Features</strong>
            <ul>
              <li>Job alert, a weekly e-mail digest with the latest vacancies in chosen categories</li>
              <li>Vacancy deep link with Connexys recruitment tool.</li>
            </ul>
            <p><a href="http://www.werkenbijmmc.nl" rel="external" target="_blank">www.werkenbijmmc.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2011-11">November 2011 - ongoing</time>
            <h4>Food Valley <small>Food Valley Jobs</small></h4>
            <div class="company"></div>
            <strong>What?</strong>
            <ul>
              <li>Technical development and implementation of a recruitment website.</li>
            </ul>
            <p><a href="http://www.foodvalleyjobs.nl" rel="external" target="_blank">www.foodvalleyjobs.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2011-09">September 2011 - ongoing</time>
            <h4>Delubas <small>Corporate website and webshop</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical development of a corporate website and webshop for a children's book publisher. The design was an in-house job.</li>
            </ul>
            <p><a href="http://www.delubas.nl" rel="external" target="_blank">www.delubas.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2011-05">May 2011 - ongoing</time>
            <h4>Food Valley <small>Website Food2Market</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical development of a full fledged multilingual corporate website. The design was done by <a href="http://www.initiumnet.nl" rel="external" target="_blank">Initium</a>.</li>
            </ul>
            <p><a href="http://www.food2market.nl" rel="external" target="_blank">www.food2market.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2011-01">January 2011 - ongoing</time>
            <h4>Onze Lieve Vrouwe Gasthuis <small>Vacancy alert</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical and visual development of a weekly e-mail digest with the latest vacancies in chosen interests.</li>
              <li>Built with the possibility to send the digest to different channels (like sms or social media) in mind.</li>
            </ul>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2010-09">September 2010 - ongoing</time>
            <h4>University of Amsterdam <small>Slim Slapen ('sleep smart') web app</small></h4>
            <strong>What?</strong>
            <ul>
              <li>
                  Architectural design and both frontend and backend development of an online healthcare web app in cooperation with the Faculty of Social and Behavioral Sciences of the University of Amsterdam.
                  The platform is used to treat adolescents with sleeping disorders. It supports the entire treatment process (intake, treatment, aftercare) for all stakeholders in the treatment (client, therapist and researcher). 
                  The user data that is collected via the app provides the basis for postdoc research in the field of sleep treatment. Research on the user data shows the treatment is very effective.
                </li>
            </ul>
            <strong>Features</strong>
            <ul>
              <li>A patient workflow with six weekly online consultations with theory and videos, periodic sleep diaries and surveys with sms notifications, dashboards with graphs, chat capability with scheduling appointments.</li>
              <li>A therapist workflow with dashboards and graphs, patient progress insights.</li>
            </ul>
            <p><a href="http://www.slimslapen.nl" rel="external" target="_blank">www.slimslapen.nl</a></p>
            {{> partnership}}
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2011-01">2009 - ongoing</time>
            <h4>Onze Lieve Vrouwe Gasthuis <small>Recruitment website</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical development. The design was created by ACA (formerly ACA-Jes).</li>
            </ul>
            <strong>Features</strong>
            <ul>
              <li>Job board with workflow for around 20 employees who are able to add vacancies.</li>
              <li>Direct application through form or LinkedIn.</li>
            </ul>
            <p><a href="http://www.werkenbijhetolvg.nl" rel="external" target="_blank">www.werkenbijhetolvg.nl</a></p>
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2008">2009</time>
            <h4>Boerenmarkt Zaandam <small>Website</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical and visual development of a website for a biological market.</li>
            </ul>
            discontinued
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2008">2008</time>
            <h4>Fatal Transactions <small>Website</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical and visual development of a non-profit website.</li>
            </ul>
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2008">2008 - ongoing</time>
            <h4>Zimbabwe Watch <small>Website</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical and visual development of a non-profit website.</li>
            </ul>
            <p><a href="http://www.zimbabwewatch.org" rel="external" target="_blank">www.zimbabwewatch.org</a></p>
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2007">2007</time>
            <h4>A.A.S.R. Skoll Amsterdam <small>Website</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical and visual development of the website for a students boat club.</li>
            </ul>
            <p><a href="http://www.skoll.nl" rel="external" target="_blank">www.skoll.nl</a></p>
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2005">2005 - ongoing</time>
            <h4>Onze Lieve Vrouwe Gasthuis <small>Corporate website</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical and visual development of the hospital's corporate website.</li>
            </ul>
            <strong>Features</strong>
            <ul>
              <li>eZ Publish multi-site installation with 6 websites.</li>
            </ul>
            <p><a href="http://www.olvg.nl" rel="external" target="_blank">www.olvg.nl</a></p>
          </div>
        </div>
        <div class="brick">
          <div class="project">
            <time datetime="2002">2002</time>
            <h4>Waterland Ziekenhuis <small>Corporate website</small></h4>
            <strong>What?</strong>
            <ul>
              <li>Technical and visual development of a website for the department of Psychiatry en Medical Psychology.</li>
            </ul>
            discontinued
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<template name="partnership">
  <small>Note: developed as a partner in Myxt.</small>
</template>